/* Colors

rgba(19, 128, 36, 0.54);

*/

html, 
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Cubano-Regular';
    background: url('../img/pattern.jpg') center center;
}


